@import "tailwindcss";

:root {
  --color-primary: #0284c7;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
